openapi: "3.1.0"
info:
  title: dykil
  version: "1.0.0"
  description: >
    Surveys & polls, rebuilt on Imajin kernel primitives (refs #1985): a
    survey is a signed document (kernel media asset), a response is an
    attestation, and ticket-holder checks compose through a boolean gate.
    This app owns no database of its own.
servers:
  - url: https://dykil.imajin.ai
    description: production
  - url: https://dev-dykil.imajin.ai
    description: dev
  - url: http://localhost:3000
    description: local

tags:
  - name: dykil

components:
  securitySchemes:
    appToken:
      type: http
      scheme: bearer
      description: >
        Scoped app token minted via POST {kernel}/auth/api/tokens/app,
        verified by this app's single authenticate() interface
        (src/lib/auth/authenticate.ts, `requireSessionOrAppToken`). Read
        routes need the `dykil:read` scope, mutating routes `dykil:write`;
        scopes are enforced only on this token path. The same Authorization
        header is forwarded to the kernel's media and attestation services,
        which authenticate it themselves.
    cookieAuth:
      type: apiKey
      in: cookie
      name: imajin_session
      description: Shared kernel session cookie fallback (transitional — see FINDINGS.md).
  schemas:
    Survey:
      type: object
      properties:
        id: { type: string }
        ownerDid: { type: string }
        title: { type: string }
        description: { type: string, nullable: true }
        fields:
          type: object
          properties:
            elements: { type: array, items: { type: object } }
        settings:
          type: object
          description: >
            `multipleResponses` (boolean) and `eventId` (string, ticket-gates
            the survey). `allowAnonymous` is not supported — every response is
            signed (imajin-ai#2536) — and is dropped if sent.
          properties:
            multipleResponses: { type: boolean }
            eventId: { type: string }
        type: { type: string, enum: [survey, pre-event, post-event, form] }
        status:
          type: string
          enum: [draft, published, closed]
          description: >
            Only a published survey's asset is `public`; draft and closed are
            `private`. Changing status moves the asset's access level with
            PATCH /media/api/assets/{id}/access.
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    Attestation:
      type: object
      properties:
        id: { type: string }
        issuerDid: { type: string }
        subjectDid: { type: string }
        type: { type: string }
        contextId: { type: string, nullable: true }
        ref: { type: string, nullable: true, description: "Indexed lookup key — the ticketId, when the response has one." }
        payload: { type: object }
        issuedAt: { type: string, format: date-time }
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }

paths:
  /api/health:
    get:
      operationId: getHealth
      summary: Health check
      tags: [dykil]
      responses:
        "200":
          description: >
            Service is healthy. `claimed` is false in unclaimed boot mode
            (imajin-ai#2427) until an operator pastes a claim code at /claim.

  /api/claim:
    post:
      operationId: postClaim
      summary: Redeem this app's one-time claim code (operator-only, unclaimed boot mode)
      description: >
        Backs the operator-facing /claim page (imajin-ai#2427). Exchanges the
        one-time claim code from the kernel's /jin approval card for this
        app's signing key, persists the local bootstrap keystore, and
        hot-swaps the in-memory signing identity. Returns 404 once this app
        has already been claimed.
      tags: [dykil]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [claimCode]
              properties:
                claimCode: { type: string }
      responses:
        "200":
          description: Claim redeemed
          content:
            application/json:
              schema:
                type: object
                properties:
                  appDid: { type: string }
                  publicKey: { type: string, nullable: true }
        "400":
          description: Invalid or refused claim code
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: This app has already been claimed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429":
          description: Too many claim attempts
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/spec:
    get:
      operationId: getSpec
      summary: Serve this app's own OpenAPI document
      tags: [dykil]
      responses:
        "200":
          description: OpenAPI YAML document

  /api/surveys:
    get:
      operationId: listSurveys
      summary: List the caller's own surveys (same as /api/surveys/mine). Requires `dykil:read`.
      tags: [dykil]
      security: [{ appToken: [] }, { cookieAuth: [] }]
      responses:
        "200":
          description: Surveys list
          content:
            application/json:
              schema:
                type: object
                properties:
                  surveys: { type: array, items: { $ref: "#/components/schemas/Survey" } }
        "401":
          description: Unauthorized
        "403":
          description: Token missing the `dykil:read` scope
    post:
      operationId: createSurvey
      summary: Create a survey (a signed media-asset document owned by the caller). Requires `dykil:write`.
      tags: [dykil]
      security: [{ appToken: [] }, { cookieAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, fields]
              properties:
                title: { type: string }
                description: { type: string }
                fields: { type: object }
                settings: { type: object }
                type: { type: string, enum: [survey, pre-event, post-event, form] }
                status: { type: string, enum: [draft, published] }
      responses:
        "201":
          description: Survey created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Survey" }
        "400":
          description: Validation error
        "401":
          description: Unauthorized

  /api/surveys/mine:
    get:
      operationId: listMySurveys
      summary: >
        List the caller's own surveys — the kernel's asset list filtered by
        context_app=dykil&context_feature=survey. Requires `dykil:read`.
      tags: [dykil]
      security: [{ appToken: [] }, { cookieAuth: [] }]
      responses:
        "200":
          description: Surveys list
          content:
            application/json:
              schema:
                type: object
                properties:
                  surveys: { type: array, items: { $ref: "#/components/schemas/Survey" } }

  /api/session:
    get:
      operationId: getSession
      summary: >
        Who is calling? `{ did }` for the signed-in caller, 401 otherwise. Requires
        `dykil:read`. The pages use it to choose between "sign in" and the app.
      tags: [dykil]
      security: [{ appToken: [] }, { cookieAuth: [] }]
      responses:
        "200":
          description: The caller's own DID
          content:
            application/json:
              schema:
                type: object
                required: [did]
                properties:
                  did: { type: string }
        "401": { description: Not signed in }

  /api/surveys/handle/{handle}:
    get:
      operationId: getSurveysByHandle
      summary: >
        A handle's published surveys. The handle is resolved to a DID through the
        kernel's public profile API (`GET /profile/api/profile/{handle}`), then that
        DID's `public` survey documents are listed (`GET /media/api/assets?did=`) and
        each is kept only if it is a published survey the DID owns. Needs a signed-in
        caller (the media list does); an anonymous caller gets the kernel's 401.
      tags: [dykil]
      security: [{ appToken: [] }, { cookieAuth: [] }]
      parameters:
        - { name: handle, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: The handle's published surveys
          content:
            application/json:
              schema:
                type: object
                properties:
                  handle: { type: string }
                  surveys:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        title: { type: string }
                        description: { type: string, nullable: true }
                        createdAt: { type: string }
        "401": { description: Not signed in }
        "404": { description: No such handle }

  /api/surveys/{id}:
    get:
      operationId: getSurvey
      summary: >
        Get survey by id. Published surveys are public; drafts and closed
        surveys are genuinely private and require ownership. Authentication is
        optional (`dykil:read` when a token is presented).
      tags: [dykil]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      security: [{ appToken: [] }, { cookieAuth: [] }, {}]
      responses:
        "200":
          description: Survey
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Survey" }
        "404":
          description: Not found (or unpublished and not owner)
    put:
      operationId: updateSurvey
      summary: Update survey (owner only). Requires `dykil:write`. A status change flips the asset's access level.
      tags: [dykil]
      security: [{ appToken: [] }, { cookieAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200":
          description: Survey updated
        "403":
          description: Not the survey owner
        "404":
          description: Survey not found
    delete:
      operationId: deleteSurvey
      summary: Delete survey (owner only). Requires `dykil:write`.
      tags: [dykil]
      security: [{ appToken: [] }, { cookieAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Deleted
        "403":
          description: Not the survey owner
        "404":
          description: Survey not found

  /api/surveys/{id}/respond:
    post:
      operationId: submitSurveyResponse
      summary: >
        Submit a respondent-signed response (an attestation, not a table row).
        Requires `dykil:write`. There is no anonymous path. A respondent holds
        one active response unless the survey sets `multipleResponses`; to edit,
        send `supersedes`.
      tags: [dykil]
      security: [{ appToken: [] }, { cookieAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [answers, issuedAt, signature]
              properties:
                answers: { type: object }
                ticketId:
                  type: string
                  maxLength: 256
                  description: Recorded in the signed payload and as the attestation's indexed `ref`.
                supersedes:
                  type: string
                  description: >
                    Id of the caller's own earlier response this one replaces.
                    Sent inside the signed payload (`payload.supersedes`), so
                    the signature must cover it. The kernel retires the earlier
                    attestation only if the same DID issued it.
                issuedAt:
                  type: integer
                  description: Unix ms timestamp, part of the signed canonical payload
                signature:
                  type: string
                  description: >
                    Ed25519 signature (hex) by the respondent's own DID key over
                    canonicalResponsePayload(...). This app never holds that key.
      responses:
        "201":
          description: Response recorded as an attestation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
                  response: { $ref: "#/components/schemas/Attestation" }
        "400":
          description: Missing required fields or validation error
        "403":
          description: Survey not accepting responses, or ticket gate denied
        "404":
          description: Survey not found, or `supersedes` is not one of the caller's own active responses
        "409":
          description: >
            The caller already has an active response and the survey does not
            allow multiple; the body carries `responseId` to edit with `supersedes`.
        "501":
          description: Ticket gate not configured (EVENTS_SERVICE_URL / DYKIL_EVENTS_AUTHORIZATION_ID)
        "502":
          description: Ticket gate unavailable (the events app or the gate token mint refused)

  /api/surveys/{id}/respond/prepare:
    post:
      operationId: prepareSurveyResponse
      summary: >
        What must the respondent sign? Validates the answers against the survey exactly
        as `/respond` will, then returns the canonical bytes (they embed the survey's
        content hash, which only the server can compute), the `issuedAt` that is part of
        them, and the payload. Nothing is stored. The respondent signs `canonical` with
        their own DID key and sends the signature, with the same `issuedAt`, to
        `/respond`. Requires `dykil:write`.
      tags: [dykil]
      security: [{ appToken: [] }, { cookieAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [answers]
              properties:
                answers: { type: object, additionalProperties: true }
                ticketId: { type: string, maxLength: 256 }
                supersedes: { type: string, description: The respondent's own earlier response id (an edit) }
      responses:
        "200":
          description: The bytes to sign
          content:
            application/json:
              schema:
                type: object
                required: [canonical, issuedAt, payload]
                properties:
                  canonical: { type: string }
                  issuedAt: { type: integer, description: ms epoch }
                  payload: { type: object, additionalProperties: true }
        "400": { description: Invalid body or a required answer is missing }
        "403": { description: The survey is not accepting responses }
        "404": { description: Survey not found }

  /api/surveys/{id}/gate:
    get:
      operationId: getSurveyGate
      summary: >
        May the caller respond? `{ gated: false, allowed: true }` for an open survey; for
        a ticket-gated one (`settings.eventId`) the events app's boolean gate is asked
        about the caller's own DID — never a ticket row. An unconfigured gate answers 501,
        an unreachable one 502. Requires `dykil:read`.
      tags: [dykil]
      security: [{ appToken: [] }, { cookieAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Gate result
          content:
            application/json:
              schema:
                type: object
                required: [gated, allowed]
                properties:
                  gated: { type: boolean }
                  allowed: { type: boolean }
        "404": { description: Survey not found }
        "501": { description: The ticket gate is not configured }
        "502": { description: The ticket gate is unavailable }

  /api/surveys/{id}/responses:
    get:
      operationId: getSurveyResponses
      summary: >
        A survey's responses, as attestations (owner only). Requires
        `dykil:read`. Withdrawn (revoked) and superseded (edited) responses are
        not listed. Without `limit`/`cursor` every page is followed (the
        export); with them, one page.
      tags: [dykil]
      security: [{ appToken: [] }, { cookieAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100 }
          description: Return a single page of at most this many rows (capped at 100).
        - name: cursor
          in: query
          schema: { type: string }
          description: The `nextCursor` of the previous page.
      responses:
        "200":
          description: Responses
          content:
            application/json:
              schema:
                type: object
                properties:
                  responses: { type: array, items: { $ref: "#/components/schemas/Attestation" } }
                  total: { type: integer, description: "Export mode only." }
                  nextCursor: { type: string, nullable: true, description: "Paged mode only; null on the last page." }
        "400":
          description: Invalid `limit`
        "403":
          description: Not the survey owner
        "404":
          description: Survey not found

  /api/surveys/{id}/responses/check:
    get:
      operationId: checkSurveyResponse
      summary: >
        Has the caller (or a given ticket) already responded? Requires
        authentication and `dykil:read`. Replaces the original by-ticket row
        read — never returns raw ticket data. The ticket form looks up the
        attestation's indexed `ref`; rows are disclosure-gated, so a caller only
        matches their own responses (the survey owner matches any).
      tags: [dykil]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - name: ticketId
          in: query
          schema: { type: string }
          description: Ticket-scoped check, by the attestation `ref`
        - name: include
          in: query
          schema: { type: string, enum: [answers] }
      security: [{ appToken: [] }, { cookieAuth: [] }]
      responses:
        "200":
          description: Response check result
          content:
            application/json:
              schema:
                type: object
                properties:
                  completed: { type: boolean }
                  responseId: { type: string }
                  answers: { type: object }
        "401":
          description: Unauthorized

  /api/surveys/{id}/responses/{responseId}:
    delete:
      operationId: withdrawSurveyResponse
      summary: >
        Withdraw your own response. Requires `dykil:write`. Relays to the
        kernel's issuer-only POST /api/attestations/{id}/revoke: the response
        drops out of every default read; the signed record is not erased.
      tags: [dykil]
      security: [{ appToken: [] }, { cookieAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { name: responseId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Withdrawn
          content:
            application/json:
              schema:
                type: object
                properties:
                  revoked: { type: boolean }
                  id: { type: string }
                  revokedAt: { type: string, format: date-time }
        "403":
          description: Not the response's issuer (kernel)
        "404":
          description: Survey not found, or not one of the caller's own active responses to it
        "409":
          description: Already withdrawn (kernel)
